<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Patio Lights Control</h1>
    <% if(result) { %>
      <p><%= result.success %></p>
      <p><%= result.description %></p>
    <% } %>
    <form action="/" method="post">
      <input id="team_name" type="hidden" name="onOff" value="on">
      <input type="submit" value="Lights On">
  </form>
  <br />
  <form action="/" method="post">
    <input id="team_name" type="hidden" name="onOff" value="off">
    <input type="submit" value="Lights Off">
</form>
  </body>
</html>
